{% extends "base.html" %}

{% block content %}

<div class="text-center py-20">

<h1 class="text-5xl font-bold mb-6 text-green-600">
SmartMenu
</h1>

<p class="text-xl text-slate-600 mb-10">
Персональная система планирования питания
</p>

<div class="flex justify-center gap-6">

<a href="/login-page">

<button class="bg-green-600 hover:bg-green-700 text-white px-8 py-4 rounded-xl text-lg">
Войти
</button>

</a>


<a href="/register-page">

<button class="bg-slate-200 hover:bg-slate-300 px-8 py-4 rounded-xl text-lg">
Регистрация
</button>

</a>

</div>

</div>

{% endblock %}