<!DOCTYPE html>
<html>
<head>
<title>Profile</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="container">

<h2>Профиль пользователя</h2>

<form action="/save-profile" method="post">

<input type="number" name="age" placeholder="Возраст">

<input type="number" name="height" placeholder="Рост (см)">

<input type="number" name="weight" placeholder="Вес (кг)">

<input type="text" name="goal" placeholder="Цель (похудение / набор массы)">

<input type="text" name="allergies" placeholder="Аллергии">

<button type="submit">Сохранить профиль</button>

</form>

</div>

</body>
</html>